.carCard {
  background: #ffffff;
  box-shadow: 0px 16px 38px #121c334f;
  border-radius: 16px;

  width: 272px;
  left: 0px;
  top: 0px;
  border-radius: 16px;
  margin: 4px;

  cursor: pointer;
  box-shadow: 0px 16px 38px #121c33;
}

.carImage {
  height: 120px;
  border-radius: 0px;

  background: radial-gradient(
    86.35% 66.25% at 76.67% 11.25%,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-blend-mode: soft-light;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.carName {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: #121c33;
  margin: 0;
}

.carDetails {
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: #121c33;
  margin: 0.25rem 0;
}

.carDetails span:nth-child(1) {
  margin-right: 2px;
}

@media screen and (max-width: 900px) and (min-width: 300px) {
  .carCard {
    width: 95%;
  }
}
